.profile__info {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    max-width: 360px;
  }
}

@media screen and (max-width: 820px) {
  .profile__info {
    max-width: 220px;
  }
}

@media screen and (max-width: 580px) {
  .profile__info {
    text-align: center;
    font-size: 14px;
  }
}




