.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 121%;
  }
}
