.card__delete-btn {
  background-image: url(../../../images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  transition: opacity 0.1s linear;
  cursor: pointer;
  background-size: 18px 19px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  outline: 0;
}

.card__delete-btn:hover {
  opacity: 0.6;
}
