.popup__container_type_infotooltip {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    min-height: 330px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;    
    background-color: #fff;
    border-radius: 10px;        
    position: relative;    
    box-sizing: border-box;
}