.popup__field {
  max-width: 358px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 33px;
}

@media screen and (max-width: 580px) {
  .popup__field {
    max-width: 238px;
  }
}
